@font-face {
   font-family: 'Forum';
   src: url('Forum.eot');
   src: local('Forum'),
      url('Forum.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Forum.woff2') format('woff2'),
      url('../fonts/Forum.woff') format('woff'),
      url('../fonts/Forum.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Genos';
   src: local('Genos'),
      local('Genos-bold'),
      url('../fonts/Genos-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
   line-height: normal;
   font-size: 64px;
}


:root {
   --background: #E2D3CE;
   --button-white: #fff;
   --button-blue-1: #243B73;
   --button-blue-2: #6B7BB1;
   --button-gray: #A9A9A9;
   --сolor-white: #fff;
   --color-black: #000;
   --color-beige: #E2D3CE;
   --color-blue-1: #243B73;
   --color-blue-2: #6B7BB1;
   --color-gray: #A9A9A9;
   --color-error: #f00;
   --color-error-text: #FF2D19;
   --icon-color-white: #fff;
   --icon-color-beige: #E2D3CE;
   --icon-color-gray: #A9A9A9;
   --text-white: #fff;
   --text-beige: #E2D3CE;
   --text-gray: #A9A9A9;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto";
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   line-height: normal;
   background-color: var(--background);
}

.container-xxl {
   max-width: 1024px;
}

a {
   text-decoration: none;
   cursor: pointer;
}


/*--------frame/рамка--start--------*/
.field-frame {
   width: 70%;
   margin: 0 auto;
   background-color: var(--background);
}

.under-frame {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   border: 1px solid var(--color-blue-1);
   border-radius: 10px;
   margin-top: 30px;
}

.element-frame {
   width: 51px;
   background-color: var(--background);
   padding: 0px 10px 0px 10px;
   margin: -17px;
   text-align: center;
}

.above-frame {
   background-color: var(--background);
   border: 1px solid var(--color-blue-1);
   padding: 17px;
   border-radius: 10px;
   width: 103%;
   margin: 21px -18px 5px -18px;
}

/* !зразок не видаляти!
    <div class="field-frame">
        <div class="under-frame">
            <div class="element-frame">
                <img src="./src/images/frame.png" alt="It is frame">
            </div>
            <div class="above-frame">
              Lorem text
            </div>
        </div>
    </div>
*/
/*--------frame/рамка---end---*/


/*--------button--start--------*/
.field-button {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   margin: 0px 0px 0px 0px;
   width: 272px;
   height: 83px;
   border: 0px solid var(--color-blue-1);
}

.img-button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 230px;
   height: 90px;
   background-image: url(../images/frame_button.png);
   background-repeat: no-repeat;
}

.text-button {
   width: 272px;
   height: 49px;
   margin: 0px 0px 0px 0px;
   background-color: var(--button-blue-1);
   color: var(--text-white);
   font-family: 'Forum';
   font-size: 26px;
   font-weight: 400;
}

.text-button:hover,
.text-button:active {
   background-color: var(--button-blue-2);
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
   cursor: pointer;
   width: 272px;
   height: 49px;
   border-radius: 20px;
   border: 0px;
   margin: 0px -20px 0px -20px;
}

/* --inActive button--*/
.text-button .inActive {
   background-color: var(--button-gray);
   pointer-events: none;
}

/*!зразок не видаляти!
      <div class="field-button">
        <div class="img-button">
          <button class="text-button">Залишити завку</button>
        </div>
      </div>
*/
/*--------button--end--------*/


/*===================== mobile version 375px ===================== */
/*-- loader start --*/

#loader {}

/*-- loader end --*/


/*-- header start --*/
.container-xxl {
   padding: 0px !important;
}

#header {}

/*-- header end --*/


/*-- main-block-TUI start --*/

#mainTUI .wraper-main {
   width: 100%;
}

#mainTUI .conteiner {
   background-image: url(../images/main_init_mobile-min.png);
   background-size: cover;
   background-repeat: no-repeat;
}

#mainTUI .title {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 44px 30.5px;
}

#mainTUI .title-h1 {
   margin: 67px 0 60px 0;
   width: 320px;
   color: white;
   font-family: Genos;
   font-size: 64px;
   font-weight: 700;
   line-height: 77px;
   letter-spacing: 0em;
   text-align: center;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);


}

#mainTUI .title-p {
   color: white;
   margin: 0 0 24px 0;
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 400;
   line-height: 29px;
   letter-spacing: 0em;
   text-align: left;
}

#mainTUI .box-button {
   border: 1px solid #243B73;
   padding: 1px;
   border-radius: 4px;
   background-color: #FFFFFF;
   margin: 36px 0;
   min-width: 310px;
   text-align: center;
}

#mainTUI .button-main {
   background: none;
   border: none;
   color: #243B73;
   font-family: Montserrat;
   font-size: 25px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: center;

}

#mainTUI .div-icons {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   min-width: 265px;
   margin: 32px 0 0 0;
}

#mainTUI .icons {
   width: 36px;
   height: 36px;
   text-align: center;
   margin: 0 16px;
}

#mainTUI .sharing-box {
   display: none;
}


/*-- main-block-TUI end --*/

/*-- form-block start --*/
#modal-overlay {
   position: fixed;
   z-index: 2004;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(36, 59, 115, 0.90);
   display: none;
}

#modal-overlay #form-window {
   display: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--background);
   position: absolute;
   width: 90%;
   max-width: 408px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 67px 12px 24px 12px;
   border-radius: 20px;
}

#modal-overlay #form-window .input-wrapper,
#form-window .input-wrapper {
   max-width: 313px;
   width: 100%;
   height: 42px;
   margin-bottom: 24px;
}

#modal-overlay #form-window .input-wrapper input,
#form-window .input-wrapper input {
   width: 100%;
   height: 42px;
   max-width: 337px;
   border: 1px solid var(--color-blue-1);
   border-radius: 20px;
   background-color: transparent;
   padding: 12px;
   color: var(--color-black);
   font-family: 'Forum';
   font-size: 16px;
}

#modal-overlay #form-window .input-wrapper input::placeholder,
#form-window .input-wrapper input::placeholder {
   color: var(--color-black);
   font-family: 'Forum';
   font-size: 16px;
}

#modal-overlay #second-window #close-second-window,
#modal-overlay #form-window #close-form-window {
   position: absolute;
   height: 35px;
   width: 35px;
   top: 17px;
   right: 28px;
   line-height: 20px;
   font-size: 55px;
   cursor: pointer;
   color: var(--button-blue-1);
}

#modal-overlay #second-window {
   display: none;
   text-align: center;
   width: 343px;
   height: 157px;
   padding: 65px 20px 30px 20px;
   background-color: var(--background);
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Forum';
   border-radius: 20px;
   font-size: 20px;
}

#modal-overlay #second-window p {
   margin: 0;
}

#modal-overlay .icon-close {
   width: 20px;
   height: 20px;
   color: var(--text-default);
}

#form-window .field-button .img-button .text-button {
   width: 232px;
   height: 42px;
   font-size: 20px;
}

#form-window .field-button .img-button .text-button p {
   margin: 0;
}

/* classes for validation errors */
#form-window .error-text,
#modal-overlay .error-text {
   color: var(--color-error-text) !important;
   font-size: 14px;
   margin-left: 8px;
}

#form-window .error-box,
#modal-overlay .error-box {
   border: 1px solid var(--color-error) !important;
   color: var(--color-error) !important;
}

#form-window .error-box::placeholder,
#modal-overlay .error-box::placeholder {
   color: var(--color-error) !important;
}

#modal-overlay .registration-form .input-wrapper input:focus,
#form-window .input-wrapper input:focus {
   outline: none;
}

#modal-overlay .registration-form .input-wrapper input:autofill,
#form-window .input-wrapper input:autofill {
   transition: background-color 5000s ease-in-out 0s;
   -webkit-text-fill-color: var(--color-black);
}

.grecaptcha-badge {
   display: none !important;
}

/*-- form-block end --*/

/*-- travel search (plugin) start --*/
#travelSearch {}

/*-- travel search (plugin) end --*/


/*-- types tours start --*/
#typesTours {}

/*-- types tours end --*/


/*-- more popular destinations start --*/
#popularDestinations {}

/*-- more popular destinations end --*/


/*-- instagram gallery (plugin) start --*/
#instagramGallery {}

/*-- instagram gallery (plugin) end --*/


/*-- prepare your trip with us start --*/
#prepareTripUs {
   font-family: 'Forum';
   font-weight: 400;
   margin: 0 auto;
   max-width: 1440px;
   padding: 16px 16px 30px 12px;
   background-color: var(--background);
}

#prepareTripUs h2 {
   max-width: 546px;
   color: #000;
   text-align: center;
   font-size: 40px;
   margin: 0 auto;
   margin-bottom: 16px;
   padding: 0 48px 0 44px;
   line-height: 1.1;
}

#prepareTripUs .list-item {
   margin: 0 auto;
   display: flex;
   margin-bottom: 14px;
   max-width: 1024px;
}

#prepareTripUs .list-item .list-number {
   color: var(--button-blue-2);
   text-align: center;
   font-size: 64px;
   width: 12%;
}

#prepareTripUs .list-item .list-number p {
   margin: 0;
}

#prepareTripUs .list-item .list-container {
   width: 88%;
   display: flex;
   flex-direction: column;
   padding-left: 10px;
}

#prepareTripUs .list-item .list-container h3 {
   font-size: 24px;
   margin-bottom: 10px;
}

#prepareTripUs .list-item .list-container .list-description {
   font-size: 16px;
}

#prepareTripUs .field-button {
   margin: 0 auto;
   margin-top: 30px;
}

/*-- prepare your trip with us end --*/


/*-- reviews start --*/
#reviews {}

/*-- reviews end --*/


/*-- questions and answers start --*/
#questionsAnswers {
   max-width: 1440px;
   margin: 0 auto;
}

#questionsAnswers h2 {
   max-width: 546px;
   color: #000;
   text-align: center;
   font-size: 40px;
   margin: 0 auto;
   margin-bottom: 16px;
   line-height: 1.1;
   font-family: 'Forum';
}

#questionsAnswers .accordion .field-frame {
   width: 90%;
}

#questionsAnswers .accordion,
.accordion-header,
.accordion-body {
   background-color: var(--background);
   font-size: 16px;
   line-height: 17.66px;
   color: var(--color-black);
   padding: 0;
}

#questionsAnswers .accordion-body {
   padding-top: 12px;
   font-family: 'Forum';
}

#questionsAnswers .accordion-flush .accordion-item .accordion-button,
#questionsAnswers .accordion-flush .accordion-item .accordion-button.collapsed {
   height: 100%;
}

#questionsAnswers .accordion-flush .accordion-item .accordion-button {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   background-color: var(--background);
   font-size: 20px;
   line-height: 22.08px;
   color: var(--color-black);
   margin: 0 auto;
   padding: 0;
   font-family: 'Forum';
}

#questionsAnswers .accordion-item {
   --bs-accordion-btn-focus-border-color: var(--background);
   --bs-accordion-btn-focus-box-shadow: var(--background);
}

#questionsAnswers .accordion-button:not(.collapsed)::after {
   background-image: none;
   content: "\e901";
}

#questionsAnswers .accordion-button::after {
   font-size: 18px;
   flex-shrink: 0;
   color: #243B73;
   margin-left: auto;
   content: "\e901";
   font-family: 'icomoon';
   background-image: none;
}

#questionsAnswers .accordion-flush .accordion-item .accordion-button:not(.collapsed)::after {
   margin-right: -10px;
   margin-left: 10px;
}

/*-- questions and answers end --*/


/*-- contacts start --*/
#contacts {
   max-width: 1440px;
   padding: 16px 0 0;
}

#contacts h2 {
   font-family: 'Forum';
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: center;
}

#contacts .contacts-wrap .field-frame {
   width: 330px;
   margin: 0 auto;
   background-color: var(--background);
}

#contacts .contacts-wrap .field-frame .under-frame {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   border: 1px solid var(--color-blue-1);
   border-radius: 20px;
   margin-top: 27px;
}

#contacts .contacts-wrap .field-frame .under-frame .element-frame {
   width: auto;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info {
   padding: 0;
   margin-top: 17px;
   margin-bottom: 5px;
   width: 342px;
   border-radius: 20px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group {
   padding: 29px 0 0 16px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   font-family: 'Forum';
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item:nth-child(2) {
   align-items: flex-start;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item svg {
   margin-right: 16px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item:last-child svg {
   margin-left: 4px;
   margin-top: -1.5px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item:last-child p {
   margin-left: 6px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item a {
   color: var(--color-black);
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item p {
   margin-bottom: 0;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item .phone a:first-child p {
   margin-bottom: 12px;
}



#contacts .contacts-wrap .field-frame .under-frame .contact-info .google-map {
   width: 330px;
   height: 133px;
   margin: 0 6px 10px 6px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form {
   padding: 0;
   margin-top: 17px;
   margin-bottom: 5px;
   width: 342px;
   border-radius: 20px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--background);
   width: 100%;
   max-width: 408px;
   padding: 15px 12px 16px 12px;
   border-radius: 20px;
   margin: 0 auto;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .input-wrapper {
   max-width: 313px;
   width: 100%;
   height: 42px;
   margin-bottom: 24px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .input-wrapper input {
   width: 100%;
   height: 42px;
   max-width: 337px;
   border: 1px solid var(--color-blue-1);
   border-radius: 20px;
   background-color: transparent;
   padding: 12px;
   color: var(--color-black);
   font-family: 'Forum';
   font-size: 16px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .input-wrapper input::placeholder {
   color: var(--color-black);
   font-family: 'Forum';
   font-size: 16px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .field-button .img-button {
   height: 83px;
   width: 225px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .field-button .img-button .text-button {
   width: 232px;
   height: 42px;
   font-size: 20px;
   padding: 10px 0;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .field-button .img-button .text-button p {
   margin: 0;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .input-wrapper .error-text {
   color: var(--color-error-text) !important;
   font-size: 14px;
   margin-left: 8px;
}

.form-window .error-box {
   border: 1px solid var(--color-error) !important;
   color: var(--color-error) !important;
}

.form-window .error-box::placeholder {
   color: var(--color-error) !important;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .registration-form .input-wrapper input:focus {
   outline: none;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .registration-form .input-wrapper input:autofill {
   transition: background-color 5000s ease-in-out 0s;
   -webkit-text-fill-color: var(--color-black);
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .second-window {
   display: none;
   text-align: center;
   width: 343px;
   height: 157px;
   padding: 65px 20px 30px 20px;
   background-color: var(--background);
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Forum';
   border-radius: 20px;
   font-size: 20px;
}

#contacts .contacts-wrap .field-frame .under-frame .contact-form .second-window p {
   margin: 0;
}



#contacts .contacts-wrap .field-frame .under-frame .contact-form .second-window #close-second-window-btn {
   position: absolute;
   top: 17px;
   right: 28px;
   line-height: 20px;
   font-size: 55px;
   cursor: pointer;
   width: 20px;
   height: 20px;
   color: var(--text-default);
}

/*-- contacts end --*/


/*-- form window start --*/
#modalWindow {}

/*-- form window end --*/


/*-- footer start --*/
#footer {
   margin-top: 24px;
}

/*-- footer end --*/



/*=============================================================*/
/*------------------------ @ media ----------------------------*/

@media (max-width: 374px) {

   /*-- prepare your trip with us start --*/
   #prepareTripUs h2 {
      font-size: 30px;
   }

   /*-- prepare your trip with us end --*/
}

@media (min-width: 768px) {
   /*-- loader start --*/
   /*-- loader end --*/


   /*-- header start --*/
   /*-- header end --*/


   /*-- main-block-TUI start --*/
   /*-- main-block-TUI end --*/


   /*-- travel search (plugin) start --*/
   /*-- travel search (plugin) end --*/


   /*-- types tours start --*/
   /*-- types tours end --*/


   /*-- more popular destinations start --*/
   /*-- more popular destinations end --*/


   /*-- instagram gallery (plugin) start --*/
   /*-- instagram gallery (plugin) end --*/


   /*-- prepare your trip with us start --*/
   #prepareTripUs .list-item {
      max-width: 680px;
   }

   /*-- prepare your trip with us end --*/


   /*-- reviews start --*/
   /*-- reviews end --*/


   /*-- questions and answers start --*/
   /*-- questions and answers end --*/


   /*-- contacts start --*/
   /*-- contacts end --*/


   /*-- form window start --*/
   /*-- form window end --*/


   /*-- footer start --*/
   /*-- footer end --*/
}



/*-----------------------------------------------------*/
@media (min-width: 992px) {
   /*-- loader start --*/
   /*-- loader end --*/


   /*-- header start --*/
   /*-- header end --*/


   /*-- main-block-TUI start --*/
   /*-- main-block-TUI end --*/

   /*--form-block start"--*/
   #modal-overlay #form-window {
      padding: 85px 12px 94px 12px;
   }

   #modal-overlay #form-window .input-wrapper input,
   #form-window .input-wrapper input {
      padding: 12px 10px 12px 12px;
      height: 46px;
   }

   #modal-overlay #form-window .input-wrapper input::placeholder,
   #form-window .input-wrapper input::placeholder {
      font-size: 20px;
   }

   #form-window .field-button .img-button .text-button {
      width: 272px;
      height: 49px;
      font-size: 26px;
   }

   #form-window .field-button {
      margin-top: 10px;
   }

   #modal-overlay #second-window #close-second-window,
   #modal-overlay #form-window #close-form-window {
      top: 23px;
      right: 35px;
   }

   #modal-overlay #form-window .input-wrapper,
   #form-window .input-wrapper {
      margin-bottom: 32px;
   }

   /*--form-block end"--*/

   /*-- travel search (plugin) start --*/
   /*-- travel search (plugin) end --*/


   /*-- types tours start --*/
   /*-- types tours end --*/


   /*-- more popular destinations start --*/
   /*-- more popular destinations end --*/


   /*-- instagram gallery (plugin) start --*/
   /*-- instagram gallery (plugin) end --*/


   /*-- prepare your trip with us start --*/
   #prepareTripUs .list-item {
      max-width: 680px;
   }

   /*-- prepare your trip with us end --*/


   /*-- reviews start --*/
   /*-- reviews end --*/


   /*-- questions and answers start --*/
   /*-- questions and answers end --*/


   /*-- contacts start --*/
   /*-- contacts end --*/


   /*-- form window start --*/
   /*-- form window end --*/


   /*-- footer start --*/
   /*-- footer end --*/
}




/*-----------------------------------------------------*/
@media (min-width: 1024px) {
   /*-- loader start --*/
   /*-- loader end --*/


   /*-- header start --*/
   /*-- header end --*/


   /*-- main-block-TUI start --*/
   #mainTUI .conteiner {
      position: relative;
   }

   #mainTUI .title {
      padding: 45px 30.5px;
   }

   #mainTUI .title-h1 {
      font-family: Genos;
      font-size: 97px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 500px;
   }

   #mainTUI .title-p {
      margin: -31px 0 54px 0;
   }

   #mainTUI .div-icons {
      display: flex;
      min-width: 0 !important;
      position: absolute;
      top: 20%;
      left: 2.5%;
      flex-direction: column;
      align-items: flex-start;
   }

   #mainTUI .icons {
      text-align: center;
      margin: 13px 0;
   }

   #mainTUI .icons:nth-of-type(1) {
      order: 4;
   }

   #mainTUI .icons:nth-of-type(2) {
      order: 5;
   }

   #mainTUI .icons:nth-of-type(3) {
      order: 3;
   }

   #mainTUI .icons:nth-of-type(4) {
      order: 5;
   }

   #mainTUI .icons:nth-of-type(5) {
      order: 1;
   }

   #mainTUI .border-box-top {
      width: 2px;
      height: 78px;
      background: #D9D9D9;
      margin: -25px 0 0 20px;
   }

   #mainTUI .border-box-bottom {
      width: 2px;
      height: 75px;
      background: #D9D9D9;
      order: 6;
      margin: -9px 0 0 19px;
   }

   #mainTUI .box-button {
      margin: -10px 0 0 0;
      width: 310px;
      height: 50px;
   }

   #mainTUI .button-main {
      color: var(--blue-1, #243B73);
      font-family: Forum;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   #mainTUI .sharing-box {
      display: flex;
      min-width: 0 !important;
      position: absolute;
      top: 47%;
      right: 2.8%;
      flex-direction: column;
      align-items: flex-start;
   }

   #mainTUI .sharing {
      margin: 0 0 55px 0;
   }

   #mainTUI .twitter {
      margin-right: 10px;
   }

   #mainTUI .sharing a {
      display: inline-block;
      transition: transform 0.3s ease;
   }

   #mainTUI .sharing a:hover {
      transform: scale(1.6);
   }

   .icons a {
      display: inline-block;
      transition: transform 0.3s ease;
   }

   .icons a:hover {
      transform: scale(1.6);
   }

   /*-- main-block-TUI end --*/


   /*-- travel search (plugin) start --*/
   /*-- travel search (plugin) end --*/


   /*-- types tours start --*/
   /*-- types tours end --*/


   /*-- more popular destinations start --*/
   /*-- more popular destinations end --*/


   /*-- instagram gallery (plugin) start --*/
   /*-- instagram gallery (plugin) end --*/


   /*-- prepare your trip with us start --*/
   #prepareTripUs {
      padding-top: 24px;
   }

   #prepareTripUs h2 {
      font-size: 50px;
      margin-bottom: 24px;
      padding: 0px 8px 0px 0px;
   }

   #prepareTripUs .list-item {
      margin-bottom: 10px;
      max-width: 747px;
   }

   #prepareTripUs .list-item .list-number {
      font-size: 100px;
      text-align: start;
   }

   #prepareTripUs .list-item .list-number p {
      padding-left: 8px;
      margin-top: -12px;
   }

   #prepareTripUs .list-item .list-number p.first {
      padding-left: 12px;
   }

   #prepareTripUs .list-item .list-container {
      padding-left: 4px;
   }

   #prepareTripUs .list-item .list-container h3 {
      font-size: 40px;
      margin-bottom: 8px;
   }

   #prepareTripUs .list-item .list-container .list-description {
      font-size: 20px;
   }

   #prepareTripUs .field-button {
      margin-top: 26px;
   }

   /*-- prepare your trip with us end --*/


   /*-- reviews start --*/
   /*-- reviews end --*/


   /*-- questions and answers start --*/
   #questionsAnswers {
      margin-bottom: 24px;
   }

   #questionsAnswers h2 {
      font-size: 50px;
      margin-bottom: 25px;
   }

   #questionsAnswers .accordion .field-frame {
      width: 79%;
   }

   #questionsAnswers .element-frame {
      width: 120px;
   }

   #questionsAnswers .above-frame {
      width: 110%;
   }

   #questionsAnswers .accordion,
   .accordion-header,
   .accordion-body {
      font-size: 16px;
   }

   #questionsAnswers .accordion-body {
      font-size: 20px;
   }

   #questionsAnswers .accordion-flush .accordion-item .accordion-button {
      font-size: 26px;
   }

   /*-- questions and answers end --*/


   /*-- contacts start --*/
   #contacts {
      margin: 0 auto;
      padding: 24px 0 0;
   }


   #contacts h2 {
      font-size: 50px;
   }

   #contacts .contacts-wrap {
      display: flex;
      justify-content: center;
   }

   #contacts .contacts-wrap .field-frame {
      margin: 0;
      width: 371px;
   }

   #contacts .contacts-wrap .field-frame:first-child {
      margin-right: 28px;
   }

   #contacts .contacts-wrap .field-frame:last-child {
      margin-left: 28px;
   }

   #contacts .contacts-wrap .field-frame .under-frame {
      margin-top: 30px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .element-frame {
      margin-top: -21px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-info,
   #contacts .contacts-wrap .field-frame .under-frame .contact-form {
      width: 408px;
      margin-top: 24px;
      margin-bottom: 8px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group {
      padding: 44px 0 0 34px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item {
      font-size: 20px;
      margin-bottom: 45px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-info .contacts-group .contacts-group-item:last-child {
      margin-bottom: 23px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-info .google-map {
      width: 352px;
      height: 133px;
      margin: 0 0 27px 24px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window {
      padding: 84px 46px 99px 48px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .input-wrapper {
      height: 45px;
      margin-bottom: 32px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .input-wrapper input {
      height: 45px;
      padding: 14px 0 12px 12px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .input-wrapper input::placeholder {
      font-size: 20px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .field-button .img-button {
      height: 83px;
      width: 225px;
   }

   #contacts .contacts-wrap .field-frame .under-frame .contact-form .form-window .field-button .img-button .text-button {
      width: 272px;
      height: 49px;
      margin: 0px -24px -11px -24px;
      font-size: 26px;
   }

   /*-- contacts end --*/


   /*-- form window start --*/
   /*-- form window end --*/


   /*-- footer start --*/
   #footer {
      margin-top: 32px;
   }

   /*-- footer end --*/
}

@media (min-width: 1440px) {
   #prepareTripUs .list-item {
      max-width: 1024px;
   }
}

/*-----------------------------------------------------*/
